<ion-header>
  <ion-toolbar>
    <ion-title>criar-conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <img class="app-logo" src="../../assets/icon/icon-dog.png" alt="">
  <ion-iten class="forms">
    <ion-input class="input" type="e-mail" placeholder="E-mail"></ion-input>
    <ion-input class="input" type="password" placeholder="senha"></ion-input>
    <ion-input class="input" type="password" placeholder="confirmar senha"></ion-input>
    <ion-button class="button button-main" routerLink="/login">criar conta</ion-button>
  </ion-iten>  
</ion-content>
