<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-button routerLink="/login"><</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <img class="app-logo" src="../../assets/icon/icon-dog.png" alt="">
  <ion-iten class="animais-nav">
    <ion-button>
      <img src="../../assets/icon/icon-dog2.png" alt="">
    </ion-button>
    <ion-button class="unselected">
      <img src="../../assets/icon/icon-cat.png" alt="">
    </ion-button>
    <ion-button class="unselected">
      <img src="../../assets/icon/icon-bird.png" alt="">
    </ion-button>
    <ion-button class="unselected">
      <img src="../../assets/icon/icon-bunny.png" alt="">
    </ion-button>
    <ion-button class="unselected">
      <img src="../../assets/icon/icon-hamster.png" alt="">
    </ion-button>
    
  </ion-iten>
  <ion-iten class="card-container">
    <ion-card>
      <img src="../../assets/images/dog.png" alt="">
      <ion-iten class="card-content">
        <ion-card-title>Thor</ion-card-title>
        <ion-iten>  
          <p>cachorro</p>
          <span> | </span>
          <p>filhote</p>
          <span> | </span>
          <p>macho</p>
        </ion-iten>
      </ion-iten>
    </ion-card>
    <ion-card>
      <img src="../../assets/images/gato.png" alt="">
      <ion-iten class="card-content">
        <ion-card-title>Loki</ion-card-title>
        <ion-iten>  
          <p>gato</p>
          <span> | </span>
          <p>adulto</p>
          <span> | </span>
          <p>macho</p>
        </ion-iten>
      </ion-iten>
    </ion-card>
    <ion-card>
      <img src="../../assets/images/coelho.png" alt="">
      <ion-iten class="card-content">
        <ion-card-title>Bruce</ion-card-title>
        <ion-iten>  
          <p>coelho</p>
          <span> | </span>
          <p>filhote</p>
          <span> | </span>
          <p>macho</p>
        </ion-iten>
      </ion-iten>
    </ion-card>
  </ion-iten>


</ion-content>

<ion-footer>
  <ion-button>
    <img src="../../assets/icon/icon-coracao.png" alt="">
  </ion-button>
  <ion-button>
    <img src="../../assets/icon/icon-send.png" alt="">
  </ion-button>
  <ion-button>
    <img src="../../assets/icon/icon-adotar.png" alt="">
  </ion-button>
  <ion-button>
    <img src="../../assets/icon/icon-user.png" alt="">
  </ion-button>
</ion-footer>